h1 {
    color: turquoise;
    font-size: 50px;
   animation: popUp 3s ease-in-out;
    font-family: 'Liberation Sans', sans-serif;
    text-align: center;
    margin-top: 50px;
    position: relative;
    left: 50px;
}
h2 {
    color: turquoise;
    font-size: 50px;
   animation: popUp 3s ease-in-out;
    font-family: 'Liberation Sans', sans-serif;
    text-align: left;
    margin-top: 50px;
    position: relative;
    left: 50px;
}
h3,h4 {
    color: #EBA832;
    font-size: 50px;
   animation: popUp 3s ease-in-out;
    font-family: 'Liberation Sans', sans-serif;
    text-align: left;
    margin-top: 50px;
    position: relative;
    left: 50px;
}
h5,h6 {
    color: #C1311C;
    font-size: 50px;
   animation: popUp 3s ease-in-out;
    font-family: 'Liberation Sans', sans-serif;
    text-align: left;
    margin-top: 50px;
    position: relative;
    left: 50px;
}
p {
    display: block;
    color: white;
    font-size: 15px;
     animation: fadeIn 3s ease-in;
    font-family: 'Arial', sans-serif;
    text-align: left;
    margin-top: 10px;
    
    position: relative;
    left: 50px;
}
.spaced-lines br {
    margin-bottom: 5px;
}

label, input, textarea, select {
    display: block;
    color: white;
    font-size: 20px;

    font-family: 'Arial', sans-serif;
    text-align: left;
    margin-top: 0px;
    position: relative;
    left: 0;
}
input, textarea {
    background-color: #555; 
    border: 1px solid #ccc; 
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
}

input[type="submit"] {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer; 
}
input[type="submit"]:hover {
    background-color: #0056b3; 
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid turquoise;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    margin: 0 auto;
    display: block;
   
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

img:hover {
    transform: scale(3);
    position: relative;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}


nav {
    display: flex;
    justify-content: center;
    background: turquoise;
    padding: 8px 0;
    animation: slideUp 1s ease-in-out;
}
nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav li {
    position: relative;
}
nav a {
    color: #ec082aea;
    text-decoration: none;
    padding: 8px 16px;
    position: relative;
}
nav a:hover {
    background: rgba(0, 0, 255, 0.019);
}
nav a:hover::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background: #f81212;
    bottom: -5px;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ea0303;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav ul ul li {
    display: block;
}
nav ul ul a {
    padding: 8px 16px;
    width: 160px;
}
nav ul li:hover > ul {
    display: block;
}
body{
    background-color: cornflowerblue;
    background-image:url(bg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity : 1;}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes popUp {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
.custom-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}




.footer-links {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    background-color: black; 
    
}
.social-logo {
    font-size: 24px;
    color: white; 
    margin: 0 10px; 
    transition: color 0.3s;
    align-items: center;
    align-text: center;
}
.social-logo:hover {
    color: #007bff; 
}
